@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

#red{
    color: aqua;
    background-color: #14f508;
    width: 100px;
    height: 10px;
}

body{
    background-color: rgb(36, 37, 43);
    height: 100%;
    width: 100%;
}

.i{
    width: 100%;
    height: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 100px;

}
img{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 80px;
    height: 80px;
    align-items: center;
    z-index: 0;
}
canvas{
    border: rgb(16, 16, 16) 1px solid;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: flex;    
    box-shadow: 0px 0px 10px black;    
    border-radius: 5px;
    background-color: #000000c8;
}
.main{
    background-color: #01010158;
    height: 80px;
    width: 100%;
}

.main ul{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    list-style: none;
}

.main ul a{
    text-decoration: none;
    color: rgb(135, 135, 135);
    font-size: 20px;
    font-family: poppins;
    background-color: #1e1f21;
    /* padding: 10px 15px; */
    border-radius: 30px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.324);
    margin: 15px;
}

.main ul li .icon{
    color: #ffffffcf;
}

.main ul li{
    transition: 1s;
    /* background-color: #14f508; */
    padding: 10px;
    width: 100%;
    height: 100%;
    border-radius: 60px;
}

.main ul li .icon{
    margin-right: 5px;
}

.main ul li .title{
    /* display: none; */
    font-size: 0px;
    transition: 0.5s;
    left: 20px;
    position: relative;
}

.main ul a li:hover > .title{
    display: inline;
    width: fit-content;
    font-size: 15px;
    left: 0;
    opacity: 100%;
}

.tabela h1{
    color: rgb(55, 225, 13);
    font-weight: 400;
    font-size: 20px;
    font-family: monospace;
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.tabela{
    background-color: #090909;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
    padding: 10px;
    margin-top: 20px;
    border-radius: 6px;
    box-shadow: 0px 0px 18px black;
}

#in{
    margin-top: 40px;
    width: 320px;
    transform: scaleX(-1);
    appearance: none;
    background-color: #090909;
    border-radius: 60px;
    margin-bottom: 30px;
}

.align-in{
    display: flex;
    justify-content: center;
    align-items: center;
}


#in::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: rgb(0, 255, 8);
    cursor: pointer;
    border-radius: 60%;
  }
  footer{
      position:relative;
      width: 100%;
      height: 50px;
      background-color: #19191C;
      bottom: 0;
  }

  footer p{
      position: relative;
      color: rgb(77, 79, 92);
      font-weight: 100;
      top: 0;
      width: 100%;
      display: flex;
      justify-content: center;
      height: 100%;
      align-items: center;
  }

  @media only screen and (max-width: 568px) {
    canvas{
        width: 300px;
    }
    .tabela h1{
        font-size: 13px;
    }
    p{
        font-size: 12px;
      padding-top: 15px;

    }


    .ranking .rank-table{
        background-color: #232323;
        width: 100%!important;
        height: 90%;
        position: relative;
        padding: 0px;
    }
    .cards .card .absolute .shape-card{
        max-height: 100%;
        height: 100%;
        max-width: 100%;
        width: 100%;
        position: absolute;
        top:35px!important;
        left: 0;
    }
    
    .cards .card .absolute .shape-card #neu{
        top: -20px;
        max-height: 130%;
        height: 130%;
        max-width: 120%;
        width: 150%;
        position: absolute;
        z-index: 21;
        animation: shape 10s ease infinite;
        transform: rotateZ(0deg);
    }
    
    .cards .card .absolute .d{
        color: #fff;
        font-family: poppins;
        font-weight: 800;
        font-size: 40px;
        position: relative;
    }
    
    .cards .card .absolute .day{
        color: rgb(0, 255, 30);
        font-family: poppins;
        font-weight: 800;
        font-size: 40px;
        position: relative;
    }
    
    
    .cards .card .absolute .d-d{
        color: rgb(171, 171, 171);
        font-family: poppins;
        font-weight: 200;
        font-size: 14px;
        top: 0px;
        left: 0;
        position: relative;
        transition: 0.3s;
        display: none;
    }
    
    .align-d{
        width: 55%;
        position: relative;
        left: 45%;
        top: -60%;
        transition: 0.4s;
    }
        
    .cards .card .absolute{
        position: absolute;
        padding: 30px;
        width: 100%;
        height: 100%;
    }
    
    .cards .card .absolute button{
        position: relative;
        border: none;
        border-radius: 60px;
        background-color: #14f508;
        color: #fff;
        font-family: poppins;
        font-weight: 400;
        padding: 5px 15px;
        left: 55%!important;
        top: -60%!important;
        cursor: pointer;
        transition: 0.3s;
        display: block!important;
    }
    
    


.ranking .rank-table table th{
    font-size: 1.9vh;
}

.ranking .rank-table table{
    font-size: 2.9vh;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.482); 

}
    
.main ul{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    list-style: none;
}

.main ul a{
    text-decoration: none;
    color: rgb(135, 135, 135);
    font-size: 20px;
    font-family: poppins;
    background-color: #1e1f21;
    border-radius: 30px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.324);
    margin: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 5px!important;
}

.main ul li .icon{
    color: #ffffffcf;
}

.main ul li{
    transition: 1s;
    padding: 10px 15px;
    width: 100%;
    height: 100%;
}

.main ul li .icon{
    margin-right: 0px;
}

.main ul li .title{
    display: none;
}

.main ul a li:hover > .title{
    display: none;
}

.setas ul{
    list-style: none;
    width: 80px;
    height: 90px;
    position: relative;
    display: flex;
    margin-left: -300px;
    align-items: center;
}

.tabelas{
    width: 49%;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex!important;
    flex-direction: column!important;
    z-index: -1;
    
}

#tabD{
    display: none;
}

.align-in{
    display: none;
}

.tabela{
    height: 20px!important;;
    width: 120px!important;;
    position: relative;
    top: -450px;
    margin-left: 10px!important;
}

.divs{
    display: flex!important;;
    width: 95%!important;;
    height: 200px!important;;
    position: relative!important;
    align-items: center!important;
    justify-content: center!important;
    margin: 0;
    background-color: #24252B!important;
}


.setas ul li{
    color: rgb(0, 242, 36)!important;
    font-family: poppins!important;
    font-weight: 800!important;
    width: 70px!important;
    height: 70px!important;
    background-color: #01010198!important;
    margin: 5px!important;
    z-index: 1000!important;
    position: relative!important;
    border-radius: 60px!important;
    text-align: center!important;
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
}

.setas ul li:active{
    background-color: #323232!important;;
}

#cima{
    transform: rotateZ(-90deg)!important;;
    position: absolute!important;;
    top: -58px!important;
    left: -10px;
    
}

#baixo{
  transform: rotateZ(90deg)!important;;
  position: absolute!important;;
  top: 27px!important;
  left: -10px;


}

#esquerda{
position: absolute!important;;
left: -90px!important;
top: -15px;
}

#direita{
  position: absolute!important;
  right: -60px!important;
  top: -15px;

}
  }


  /* fim mobile */

.ranking{
    min-width: 100%;
    max-width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    background-color: transparent;
}

.ranking .ranking-title{
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 30px;
    margin-top: 30px;
}

.ranking .ranking-title h1, .eventos .eventos-title h1{
    color: rgb(232, 232, 232);
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.496);
    font-family: Poppins;
    font-weight: 200;
    position: relative;
    font-size: 2.2em;
}
.eventos .eventos-title h1{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

.ranking .rank-table{
    background-color:transparent;
    width: 75%;
    height: 90%;
    position: relative;
    padding: 0px;
}

.ranking .rank-table table{
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #000000c8;
    border-collapse: collapse;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.482);
    height:70vh;
    margin-bottom: 20px;
}

.ranking .rank-table table th{
    background-color: #0a0a0b;   
    color: rgb(239, 239, 239);
    font-family: poppins, sans-serif;
    font-weight: 300;
}

.ranking .rank-table table tr{
    width: 100%;
    height: 10px;
    background-color: #18191d;
    text-align: center;
    color: rgb(210, 210, 210);
    font-family: poppins, sans-serif;
    font-weight: 200; 
    font-size: 2.0vh;

}

.ranking .rank-table table .thA{
    background-color: #121215;
    text-align: center;
}

.eventos{
    width: 100%;
    height: 60vh;
    margin-bottom: 290px;
}

.eventos .eventos-content #descrip-evt{
    position: relative;
    width: 65%;
    height: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #797979;
    margin-bottom: 30px;
    font-family: poppins;
    font-weight: 400;
}


.eventos .eventos-content .cards .card .d-evt{
    position: relative;
    color: #797979;
    font-family: poppins;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 2s;
    top: 0;
}

.eventos-content iframe{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15em;
}

.cards{
    width: 90%;
    height: fit-content;
    position: relative;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
}

.cards .card{
    margin: 10px;
    width: 400px;
    height: 150px;
    background-color: #131313;
    border-left: #14f508 5px solid;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    padding: 40px;
}

.cards .card .absolute .shape-card{
    max-height: 100%;
    height: 100%;
    max-width: 100%;
    width: 100%;
    position: absolute;
    top:20px;
    left: 0;
}

.cards .card .absolute .shape-card #neu{
    top: -20px;
    max-height: 130%;
    height: 130%;
    max-width: 120%;
    width: 150%;
    position: absolute;
    z-index: 21;
    animation: shape 10s ease infinite;
    transform: rotateZ(0deg);
}

.cards .card .absolute .d{
    color: #fff;
    font-family: poppins;
    font-weight: 800;
    font-size: 40px;
    position: relative;
}

.cards .card .absolute .day{
    color: rgb(0, 255, 30);
    font-family: poppins;
    font-weight: 800;
    font-size: 40px;
    position: relative;
}


.cards .card .absolute .d-d{
    color: rgb(171, 171, 171);
    font-family: poppins;
    font-weight: 200;
    font-size: 14px;
    top: 0px;
    left: 0;
    position: relative;
    transition: 0.3s;
}

.align-d{
    width: 55%;
    position: relative;
    left: 45%;
    top: -60%;
    transition: 0.4s;
}

.cards .card .absolute:hover > .align-d{
    color: rgb(171, 171, 171);
    font-family: poppins;
    font-weight: 200;
    font-size: 14px;
    left: 500px;
    position: relative;
    z-index: 1000;
}

.cards .card .absolute{
    position: absolute;
    padding: 30px;
    width: 100%;
    height: 100%;
}

.cards .card .absolute button{
    position: relative;
    border: none;
    border-radius: 60px;
    background-color: #14f508;
    color: #fff;
    font-family: poppins;
    font-weight: 400;
    padding: 5px 15px;
    left: 50%;
    top: 60%;
    cursor: pointer;
    transition: 0.3s;
}


.cards .card .absolute:hover > a button{
    position: relative;
    border: none;
    border-radius: 60px;
    background-color: #14f508;
    color: #fff;
    font-family: poppins;
    font-weight: 400;
    padding: 5px 15px;
    left: 50%;
    top: -110%;
    cursor: pointer;
    z-index: 100;
}

/* aaaaaaaa */


  .column {
    width: 0px;
    height: 0px;
    position: relative;
    
  }

  .column p{
      position: relative;
      color: rgb(210, 210, 210);
      padding: 0;
      font-size: 1em;
      cursor: pointer;
  }
  
  /* Hide the slides by default */
  .mySlides {
    display: none;
  }

  .mySlides img{
    height: 80vh;
    width: auto;
    position: relative;
    display: flex;
    justify-content: center;
  }
    
  .caption-container #caption{
      color: #14f508; 
  }
  

  .anuncios-block{
    background-color: #d53737;
    height: fit-content;
    width: fit-content;
    margin: 10px;
  }

  .adsense{
    background-color: #19191C; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap;
    position: relative; 
    text-align: center; 
    width: 100%; 
    height: fit-content; 
  }

  .footer{
    background-color: #19191C;
    width: 100%;
    height: fit-content;
    position: absolute;
  }


  
.setas ul{
    list-style: none;
    width: 90px;
    height: 90px;
    background-color: transparent;
    position: relative;
    display: flex;
    align-items: center;
}

.setas{
    width: 0%;
    display: none;
    height: 100%;
    position: relative;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;

}

.tabelas{
    width: 100%!important;
    background-color: #24252B!important;
    position: relative!important;
    align-items: center!important;
    justify-content: center!important;
    display: flex!important;
    flex-direction: column!important;
}

.tabela{
    height: 30px;
    width: 220px;
    margin: 0;
}

.divs{
    display: flex;
    width: 100%;
    background-color: #090909;
    display: flex;
    height: 200px;
    position: relative;
}


.setas ul li:hover{
    display: none;

}

#cima{
    transform: rotateZ(-90deg);
    position: absolute;
    top: -10px;
    display: none;

    
}

#baixo{
  transform: rotateZ(90deg);
  position: absolute;
  top: 50px;
  display: none;


}

#esquerda{
position: absolute;
left: -10px;
display: none;

}

#direita{
    display: none;
  position: absolute;
  right: -10px;
}


.div{
    padding: 0;
    top: 10vh;
    position: absolute;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.modalVisual{
    display:none;

    align-items: center;
    justify-content: center;
    position:fixed;
    z-index:1;
    padding-top:100px;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:auto;
    background-color:rgba(0, 0, 0, 0.865);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 200;
}

.modalConteudo{
    margin:auto;
    display:block;

    position: relative;

    max-width: 80vh;
    min-width: 80vh;
    min-height: 80vh;
    max-height: 80vh;

    object-fit: contain;

    z-index: 250;
}

.fechar{
    position: absolute;
    text-align: center;
    
    color:rgba(255, 255, 255, 0.749);
    background-color: #8989897e;

    cursor:pointer;
    
    line-height: 1.15;
    font-size:30px;
    font-family: Arial;
    font-display: swap;

    z-index: 400;

    margin: 5px;

    border-radius: 60%;
    width: 40px;
    height: 40px;
}